/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Kaisei Opti", serif;
  color: rgba(0, 0, 0, 0.87);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* スクロールトラック（スクロールバーの背景部分）のスタイル */
::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 10px;
}

/* スクロールバーのハンドル部分のスタイル */
::-webkit-scrollbar-thumb {
  background-color: #333;  
  border-radius: 10px;
  border: 2px solid #F5F5F5;  /* トラックの色と同じにして、ハンドルが小さい時でも丸みを維持 */
}

/* スクロールバーの幅と高さを設定 */
::-webkit-scrollbar {
  width: 12px;
}
